* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: black;
}
header {
    display: grid;
    
}

form {
    justify-self: center;
    margin-bottom: 20px;
    border-bottom:1px solid red;
}


select {
    background-color: white;
    border: none;
    color: black;
    padding-left: 10px;
    width: 6rem;
    border-radius: 2rem;
}

input {
    color: black
}

button {
    background-color: white;
    border: none;
    color: black;
    height: 2rem;
    width: 6rem;
    border-radius: 2rem;
    margin: 15px;
    box-shadow: 1px 1px 10px 5px greenyellow;
}

header h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


.score {
    display: grid;
    justify-self: right;
    justify-items: center;
    align-items: center;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(2, 3rem);
    gap: 0 15px;
}

.score > * {
    
    font-weight: bold;
    font-size: large;
    justify-self: right;
}

.x-score, .o-score {
    justify-self: left;
}

.wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}
.game-board {
    align-self: center;
    height: 50vw;
    width: 50vw;
    border: 5px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-cell {
    display: flex;
    border: 1px solid white;
    align-content: center;
    justify-content: center;
    font-size: 13vw;
    
}
.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 4rem);
}

.buttons button{
    box-shadow: 1px 1px 10px 5px yellow;
}